@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans&display=swap');
* {
  margin: 0;
  font-family: 'Quattrocento Sans', sans-serif;
}
body{
    background-image: url("https://images.unsplash.com/photo-1504548840739-580b10ae7715?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
}
title{
    font-family: 'Quattrocento Sans', sans-serif;

}
svg {
  position:absolute;
  height: 700px;
   left: -600px;
    top: -600px;
  display: block;
  filter: drop-shadow(10px 20px 5px #a6aed180);
  transition: left 1.5s, top 1.5s;
}

nav {
  overflow: hidden;
  position: relative;
  width: 100%;
}

svg.open {
  top: -106px;
  left: -131px; 
}

nav #links {
  display: none;
}

nav a {
  color: black;
  padding: 19px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  animation-name: text;
  animation-duration: 1s;
}

@keyframes text {
  0% {
    opacity: 0%;
    transform: translateX(-100px);
  }
  50% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

nav a:hover {
  text-decoration: underline;
}

#links a {
  padding-left: 103px; 
}
